@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: normal;
}

ul {
  list-style: none;
}

.container {
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
  &__logo {
    width: 40rem;
    margin-bottom: 0;
  }
  &__title {
    font-size: 4rem;
    font-weight: bold;
  }

  .filter {
    &__select {
      margin-left: 0.1rem;
      padding: 0.25rem 0;
      margin: 0.5rem;
      width: 15rem;
      border: 2px solid #3154a7;
      border-radius: 5px;
      cursor: pointer;
      transition: all ease 0.25s;

      &:hover {
        border: 1px solid #ddd;
      }
    }
  }
}

.quotes {
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    width: 30rem;
    margin: 0 1rem 1rem 0;
    padding: 0.3rem;
    border-radius: 0.5rem;
    border: 2px solid #3154a7;
  }

  &__quote {
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
  }
  &__character {
    padding-bottom: 0.5rem;
    color: #3154a7;
    font-size: 1.25rem;
  }
}

.new-quote {
  &__form {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ddd;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__label {
    display: block;
    margin-bottom: 0.75rem;

    &-text {
      display: inline-block;
      width: 15rem;
    }
  }

  &__text {
    padding: 0.15rem 0.5rem;
    border-radius: 5px;
    border: 1px solid #666;
    outline: none;
  }

  &__btn {
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #3154a7;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: #b5bfd5;
    }
  }
  &__reset {
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    border: none;
    margin: 1rem;
    background-color: #dc29a0;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: #d06fac;
    }
  }
}
